In [1]:
import pandas as pd
df = pd.read_csv('Latest 2025 movies Dataset.csv')
df.head()

   movie_id                            title  ... vote_average                                           overview
0         0                        Our Fault  ...        7.869  Jenna and Lion's wedding brings about the long...
1         1                   Inside Furioza  ...        6.593  In the wake of murder, new Furioza leader Gold...
2         2  Captain Hook - The Cursed Tides  ...        5.000  In the aftermath of a devastating defeat by hi...
3         3                War of the Worlds  ...        4.400  Will Radford is a top analyst for Homeland Sec...
4         4        The Conjuring: Last Rites  ...        6.972  Paranormal investigators Ed and Lorraine Warre...

[5 rows x 8 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           10000 non-null  int64
 1   title              10000 non-null  object
 2   release_date       9951 non-null   object
 3   original_language  10000 non-null  object
 4   popularity         10000 non-null  float64
 5   vote_count         10000 non-null  int64
 6   vote_average       10000 non-null  float64
 7   overview           9758 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 625.1+ KB

In [3]:
df.describe()

          movie_id    popularity    vote_count  vote_average
count  10000.00000  10000.000000  10000.000000  10000.000000
mean    4999.50000      7.085813   1470.490600      5.538950
std     2886.89568     16.379058   3405.494983      2.417306
min        0.00000      2.616700      0.000000      0.000000
25%     2499.75000      4.499975      4.000000      5.113750
50%     4999.50000      4.975350     71.000000      6.300000
75%     7499.25000      6.172225   1173.250000      7.011000
max     9999.00000   1096.665400  38078.000000     10.000000

In [4]:
df.isnull().sum()

movie_id               0
title                  0
release_date          49
original_language      0
popularity             0
vote_count             0
vote_average           0
overview             242
dtype: int64

In [6]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
median_date = df['release_date'].median()
df['release_date'] = df['release_date'].fillna(median_date)

C:\Users\EL3AFREET\AppData\Local\Temp\ipykernel_4228\1373857208.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce', infer_datetime_format=True)

In [7]:
df.isnull().sum()

movie_id               0
title                  0
release_date           0
original_language      0
popularity             0
vote_count             0
vote_average           0
overview             242
dtype: int64

In [8]:
df['overview'] = df['overview'].fillna('Unknown Overview')

In [9]:
df.isnull().sum()

movie_id             0
title                0
release_date         0
original_language    0
popularity           0
vote_count           0
vote_average         0
overview             0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
df.columns

Index(['movie_id', 'title', 'release_date', 'original_language', 'popularity',
       'vote_count', 'vote_average', 'overview'],
      dtype='object')

In [12]:
df = df.rename(columns={'popularity':'popularity_score'})

In [13]:
df.columns

Index(['movie_id', 'title', 'release_date', 'original_language',
       'popularity_score', 'vote_count', 'vote_average', 'overview'],
      dtype='object')

In [14]:
from sqlalchemy import create_engine
import urllib.parse

#Step1: Connect to PostrgreSQL

username = "postgres"
password = urllib.parse.quote_plus("123Aa@456") #encode special characters
host = "localhost"
port = 5433
database = "latest_2025_movies_db"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#Step2: Load DataFrame into PostgreSQL
table_name = "movie"
df.to_sql(table_name,engine,if_exists="replace",index=False)
print(f"Data Successfull loaded into table '{table_name}' in database '{database}'")

Data Successfull loaded into table 'movie' in database 'latest_2025_movies_db'

In [15]:
df['title'].duplicated().sum()

2415